@page "/mypassword"
@page "/mypassword/{id:int}"
@using PasswordManager.Shared;
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (Id == null)
{
    <PageTitle>Create a new account</PageTitle>
    <h3>Create a new account</h3>
}
else
{
    <PageTitle>Edit @account.Login</PageTitle>
    <h3>Edit @account.Login</h3>
}

<EditForm Model="account" OnSubmit="HandleSubmit">
    <div>
        <label for="Login">Login</label>
        <InputText id="Login" @bind-Value="account.Login" class="form-control"></InputText>
    </div>
    <div>
        <label for="Password">Password</label>
        <InputText id="Password" @bind-Value="account.Password" class="form-control"></InputText>
    </div>
    <div>
        <label for="URL">URL</label>
        <InputText id="URL" @bind-Value="account.URL" class="form-control"></InputText>
    </div>
    <div>
        <label for="Comment">Comment</label>
        <InputText id="Comment" @bind-Value="account.Comment" class="form-control"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">@btnText</button>
    <button type="button" class="btn btn-danger" @onclick="DeleteAccount">Delete Account</button>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    string btnText = string.Empty;

    Account account = new Account();

    protected override async Task OnInitializedAsync()
    {
        btnText = Id == null ? "Save New Account" : "Update Account";
    }

    protected override async Task OnParametersSetAsync()
    {

        if (Id is not null)
        {
            var result = await AccountService.GetAccount((int)Id);
            if (result is not null)
                account = result;
            else
                NavigationManager.NavigateTo("/mypasswords");
        }
    }

    async Task HandleSubmit()
    {
        if (Id == null)
        {
            await AccountService.PostAccount(account);

        }
        else
        {
            await AccountService.PutAccount((int)Id, account);
        }
    }

    async Task DeleteAccount()
    {
        await AccountService.DeleteAccount(account.Id);
    }
}
